.contacto-container {
    max-width: 1850px;
    padding: 40px 20px;
    background-color: #f9f9f9; 
  }
  

  .faq-section {
    margin-bottom: 40px;
  }
  

  .faq-card {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
  }
  

  .contacto-list {
    margin-top: 20px;
  }
  

  .contacto-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
  }
  

  .contacto-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
  }
  

  .contacto-answer {
    padding: 10px 0;
    color: #666;
  }
  
  .contacto-question h3 {
    margin: 0;
    font-size: 1.2em;
  }

  .contacto-question span {
    font-size: 1.5em;
    font-weight: bold;
  }

  .contacto-answer p {
    margin: 0;
  }